{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome to the CRM project</p>

    {% if user.is_authenticated %}
        <h2>You are logged in as {{ user.username }}</h2>
    {% else %}
        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            <br/>
            
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
            
            <div class="mb-3">
                <input type="text" class="form-control" name="username", placeholder="Username" required>
                
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password", placeholder="Password" required>
            </div>
            <!-- <br/> -->
            <button type="submit" class="btn btn-secondary">Login</button>
            
            </form>
        </div>
    {% endif %}
{% endblock %}